* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Geist", sans-serif;
}
.vercelLogo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.vercelLogo img {
  height: 18px;
  width: auto;
  filter: invert(1);
}
.chevron {
  width: 14px;
  height: 14px;
  color: currentcolor;
}
.navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 64px;
  padding: 0 24px;
  color: rgb(237, 237, 237);
  justify-content: space-between;
}
.rightHalf {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-btn {
  display: flex;
  align-items: center;
  /* gap: 4px; */
  background: transparent;
  border: none;
  color: rgb(161, 161, 161);
  font-family: "Geist", sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 9999px;
  cursor: pointer;
}

.nav-link {
  display: flex;
  align-items: center;
  color: rgb(161, 161, 161);
  font-size: 14px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 9999px;
}

.nav-btn:hover,
.nav-link:hover {
  background-color: rgb(31, 31, 31);
  color: rgb(237, 237, 237) !important;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-login,
.btn-askai {
  background: #0a0a0a;
  border: 1px solid rgb(51, 51, 51);
  color: rgb(237, 237, 237);
  font-family: "Geist", sans-serif;
  font-size: 14px;
  height: 32px;
  padding: 0 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-signup {
  background: #fff;
  border: none;
  color: #0a0a0a;
  font-family: "Geist", sans-serif;
  font-size: 14px;
  height: 32px;
  padding: 0 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
.btn-login:hover,
.btn-askai:hover {
  background-color: rgb(31, 31, 31);
}
.btn-signup:hover {
  background-color: rgb(237, 237, 237);
}
